[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.3,>=4.2"
djangorestframework = "*"
mysqlclient = "*"
python-dotenv = "*"
djangorestframework-jwt = "*"
pyjwt = "*"
setuptools = "*"
django-filter = "*"
pytest-json-fixtures = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-django = "*"
pytest-freezegun = "*"
django-debug-toolbar = "*"
drf-spectacular = "*"
pytest-cov = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
test = "pytest"
black = "black ."
